@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap'); /*Fonte Forum*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap'); /*Fonte Open Sans*/

/* Declaração de variáveis para as fontes e cores da página */
:root { 
    --preto-acinzentando: #121211;
    --laranja: #EB5E28;
    --dourado: #F6BF73;
    --forum: 'Forum', cursive;
    --open-sans: 'Open Sans', sans-serif;
}

/* Tirando as estilizações padrões que os navegadores fazem, colocando a fonte padrão do projeto, colocando o comportamento suave ao clicar em um link  */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: var(--open-sans);
    scroll-behavior: smooth;
}

/* corpo do html */
body {
    background-color: var(--preto-acinzentando);
}

/* Estilização da barra de navegação do site */
nav#navbar {
    background-color: var(--preto-acinzentando);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px 15px 15px;
}

/* Estilização para o link com o nome da cliente */
nav#navbar a#titulo-menu {
    color: white;
    font-family: var(--forum);
    font-size: 1.3em;
}

/* Projeto de animação ao passar por cima do nome da cliente */
nav#navbar a.gradiente:hover {
    color: #DD01E3;
    /* background-image: linear-gradient(to bottom, #DD01E3, #FE0076, #FFC23B);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white; */
    animation: bg 3s infinite;
}

/* animação na logo da cliente para aparecerem as cores do instagram */
@keyframes bg {
    0% {
        color: #DD01E3;
    }

    50% {
        color: #FE0076;
    }

    75% {
        color: #FFC23B;
    }

    100% {
        color: #DD01E3;
    }
}

/* Estilização dos elementos da página que encontram-se no menu */
div#elementos {
    display: flex;
    gap: 20px;
    font-family: var(--open-sans);
    align-items: center;
    font-weight: bold;
}

/* Estilização dos links da página que encontram-se no menu */
div#elementos a {
    color: white;
    font-size: .9em;

}

/* Estilização dos links da página que encontram-se no menu [ao passar o mouse] */
div#elementos a:hover {
    text-decoration: underline;
}

/* Estilização do botão do menu */
div#elementos button#btn-contato {
    cursor: pointer;
    border-radius: 6px;
    padding: 8px 10px 8px 10px;
    border: none;
    font-family: var(--open-sans);
    font-size: .9em;
    font-weight: bold;
    margin: auto;
    color: black;
    background-color: white;
}

/* Estilização do botão do menu [ao passar o mouse por cima] */
div#elementos button#btn-contato:hover {
    scale: 1.05;
    transition: all 0.15s ease-in-out;
}

/* Estilização da sessão com a imagem de thaís de fundo. */
section#imagem {
    background-color: var(--preto-acinzentando);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

/* Estilização da imagem da sessão de fato */
section#imagem img {
    width: 100%;
    opacity: 0.5;
    user-select: none;
    -webkit-user-drag: none;
}

/* Definindo position absolute para que os textos fiquem à frente da imagem */
div#textos-imagem {
    position: absolute;
}

/* Estilização da frase motivacional */
div#textos-imagem h1{
    color: var(--dourado);
    font-size: 3em;
    font-weight: 700px;
}

/* Delimitação da caixa que contém o paragráfo que fica abaixo da frase motivacional */
div#caixa-paragrafo {
    width: 390px;
    margin: auto;
    margin-top: 10px;
}

/* Estilização do parágrafo abaixo da frase motivacional de fato */
div#textos-imagem p {
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.600);
    letter-spacing: -0.5px;
    line-height: 1.5;
    font-weight: 500;
}

/* sessão envolvendo os três blocos (sobre mim, sobre a pd school, sobre o projeto) */
section#bloco-sobre-mim-e-pd-school {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SOBRE MIM */

section#sobre-mim {
    background-color: var(--preto-acinzentando);
    display: flex;
    justify-content: center;

}
/* Div que estiliza a imagem e e texto */
div#container-sobremim {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 81px;
    color: white;
    max-width: 1000px;
    width: 100%;
    margin: auto;
    margin: 100px;
} 
/* Mexendo no h2 */
div#container-sobremim div#texto h2 {
    font-size: 2.2em;
    color: var(--dourado);
    margin-bottom: 10px;
}
/* mexendo nos paragrafos */
div#container-sobremim div#texto {
    display: flex;
    font-size: 1.2em;
    flex-direction: column;
    width: 300px;
}
/* tamanho da imagem */
section#sobre-mim div#imagem img {
    width: 460px;
    border-radius: 20px;
}
/* estilizando botão ler mais */
section#sobre-mim button#btn-lermais {
    width: 80px;
    height: 40px;
    background-color: #ebebeb;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 23px;
    cursor: pointer;
}
/* hover do botão ler mais */
section#sobre-mim button#btn-lermais:hover {
    transform: scale(1.05);
    transition: all 150ms ease-in-out;
    font-size: 0.72em;
}

/* INÍCIO PDSCHOOL, SETANDO O BACKGROUND*/
section#pd-school{
    background-color: var(--preto-acinzentando);
}

/* ESTILIZAÇÃO DA DIV CONTAINER PD SCHOOL */
div#container-pdschool{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 1000px;
    width: 100%;
    margin: auto;
    gap: 81px;
    color: white;
}

/* ESTILIZAÇÃO DA IMAGEM NA DIV CONTAINER-PDSCHOOL */
div#container-pdschool div#imagem-pdschool img{
    width: 460px;
    border-radius: 20px;
}

/* ESTILIZAÇÃO DA DIV TEXTO-PDSCHOOL  */
div#container-pdschool div#texto-pdschool{
    display: flex;
    font-size: 1.2em;
    flex-direction: column;
    width: 450px;
}

/* ESTILIZANDO O TÍTULO DE NÍVEL 2 */
div#container-pdschool div#texto-pdschool h2{
    margin-bottom: 10px;
    font-size: 2.2em;
    color: var(--dourado);
}

/* ESTILIZANDO O PARAGRÁFO DA DIV TEXTO-PDSCHOOL */
div#container-pdschool div#texto-pdschool p{
    font-size: 1.2em;
}
/* FIM DA ESTILIZAÇÃO DA PDSCHOOL */

/* INÍCIO SOBRE PROJETO*/
/* Section que engolba essa parte do main para centralizar conteúdo */
section#sobre-projeto{
    display: flex;
    justify-content: center;
}

/* Section que vai está a imagem e o texo */
div#container-sobreprojeto {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 81px;
    color: white;
    max-width: 1000px;
    width: 100%;
    margin: auto;
    margin: 100px;
} 

/* Estilização dos caracteres do sub-título "Sobre Mim" */
div#container-sobreprojeto div#texto h2 {
    font-size: 2.2em;
    color: var(--dourado);
    margin-bottom: 10px;
}

div#container-sobreprojeto div#texto {
    display: flex;
    font-size: 1.2em;
    flex-direction: column;
    width: 330px;
}

/* Título referente SOBRE O PROJETO*/
h2#sobre-proj{
    width: 400px;
}

/* configuração da largura e dar borda da imagem do sobre o projeto */
section#sobre-projeto div#imagem img {
    width: 460px;
    border-radius: 20px;
}


/* Botão do "Ler Mais"*/
section#sobre-projeto button#lermais {
    width: 80px;
    height: 40px;
    background-color: #ebebeb;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 23px;
    cursor: pointer;
}

/* Animação do botão "Ler Mais"*/
section#sobre-projeto button#lermais:hover {
    transform: scale(1.05);
    transition: all 150ms ease-in-out;
    font-size: 0.72em;
}



/* Estilização da seção de depoimentos */
section#depoimentos-secao {
    position: relative;

    margin: 0 auto;
    padding: 100px;
    background-color: #121211;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilização dos botôes do carousel */
#depoimentos-secao .carousel-button {
    position: absolute;
    top: calc(50% - 15px);
    
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-color: rgba(200, 200, 200, .5);
    color: rgba(0, 0, 0, .5);
    font-size: 25px;
    border: none;
    border-radius: 50%;
    transition: all 150ms ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;
}

#depoimentos-secao .carousel-button:hover {
    top: calc(50% - 16px);
    height: 32px;
    width: 32px;
    background-color: rgba(200, 200, 200, .9);
    color: var(--preto);
    font-size: 27px;
}

/* Posicionamento dos botões do carousel */
#depoimentos-secao #anterior {
    left: 90px;
}

#depoimentos-secao #proximo {
    right: 90px;
}

/* Estilização da div onde estarão os depoimentos*/
#depoimentos {
    width: 1000px;
    overflow-x: hidden;

    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}

/* Estilização dos cards de depoimento */
.depoimento {
    flex-shrink: none;
    flex-grow: none;

    padding: 30px;
    min-height: 360px;
    min-width: 320px;
    border-radius: 10px;
}

/* Colorização dos cards de depoimento */
.depoimento:nth-child(3n + 2) {
    background-color: #F6BF73;
}

.depoimento:nth-child(3n + 3) {
    background-color: #EBD2AC;
}

.depoimento:nth-child(3n + 4) {
    background-color: #FCF4DC;
}

.depoimento:nth-last-child(1) {
    background-color: inherit;
}

/* Perfil da pessoa que depôs */
.perfil-depoimento {
    margin-bottom: 31px;

    display: grid;
    grid-template-rows: 29px 21px;
    grid-template-columns: 50px 215px;
    column-gap: 15px;
}

/* Imagem da pessoa que depôs */
.imagem-depoimento {
    grid-row: 1 / 3;

    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: gray;
}

/* Nome da pessoa que depôs */
.nome-depoimento {
    color: #001122;
    font-size: 20px;
    font-weight: 600;
}

/* Instagram da pessoa que depôs */
.instagram-depoimento {
    color: #666666;
    font-size: 14px;
    font-weight: 500;
}

/* Texto do depoimento */
.comentario-depoimento {
    color: #666666;
    font-size: 16px;
    font-weight: 500;

    /* Código para que o texto corte na 8a linha e termine com reticências*/
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* estilização do texto que a cliente fez sobre ela mesma */
section#sobre-mim-texto-container {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* estilização da sessão que possui o texto do sobre mim */
section#sobre-mim-texto {
    max-width: 770px;
    width: 100%;
}

/* estilização do título do texto sobre mim */
section#sobre-mim-texto h1 {
    margin: 60px 0 30px 0;
    font-size: 2.3rem;
}

/* estilização dos paragráfos do texto da sessão sobre mim */
section#sobre-mim-texto p {
    color: #888888;
    font-size: 1.1em;
    line-height: 1.5;
    letter-spacing: -0.5;
    font-weight: 500;
    margin-bottom: 20px;
}

/* estilização do container da imagem do sobre mim*/
div#imagem-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 60px 0;
    font-family: var(--open-sans);
}

/* estilização da imagem do sobre mim de fato */
div#imagem-container img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    
}

/*Estilização dos elementos do sobre mim */
div#elementos-perfil {
    margin-left: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/*Estilização do nome da cliente*/
div#elementos-perfil span#nome-thais {
    color: #001122;
    font-size: 20px;
    font-weight: 600;
}

/* estilização do @ do instagram da cliente */
span.margin-bottom-zero{
    color: #666666;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
}

/* Sobre o Projeto Texto */
section#sobre-projeto-texto {
    color: #c4c4c4;
    background-color: var(--preto-acinzentando);
    text-align: center;
    padding: 20px;
    height: 470px;
}
/* estilizando titulo */
section#sobre-projeto-texto h2{
    color: white;
    padding: 40px;
    font-size: 2.3rem;
}
/* colocando espaço no paragrafo de cima */
section#sobre-projeto-texto #p2 {
    margin-top: 22px;
}
/* tamanho dos paragrafos */
section#sobre-projeto-texto p {
    font-size: 1.1em;
}
/* tamanho da caixa de todos os textos */
section#sobre-projeto-texto div#paragrafos-sobre-projeto {
    width: 720px;
    margin: auto;
    
}

/*rodape*/
.rodape{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 100px 100px 20px 100px;
}

/*codigo para separar a primeira parte do rodape*/
.separar1{
    display: flex;
    justify-content: space-between;
}

.separar1 span {
    display: block;
    margin-bottom: 15px;
}

/*codigo para ajustar a parte do contato do rodape */
div.contato{
    width: 25px;
    display: inline-block;
    font-size: 17px;
    padding: 10px 0px 10px 0px;
    min-width:12vw;
}

/*codigo para ajustar a parte da localização do rodape */
div.localizacao{
    width: 25px;
    display: inline-block;
    margin-right: 0vw;
    font-size: 17px;
    padding: 20px 0px 20px 0px;
    min-width:25vw;
}

/*linha cinza que divide o rodape*/
.linha-cinza{
    border-bottom: 1px solid #ccc;
}

/*codigo para separar a segunda parte do rodape*/
.separar2{
    display: flex;
    justify-content: space-between;
}