@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap'); /*Fonte Forum*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap'); /*Fonte Open Sans*/

/* Declaração de variáveis para as fontes e cores da página */
:root { 
    --preto-acinzentado: #121211;
    --laranja: #EB5E28;
    --dourado: #F6BF73;
    --forum: 'Forum', cursive;
    --open-sans: 'Open Sans', sans-serif;
}

/* Tirando as estilizações padrões que os navegadores fazem, colocando a fonte padrão do projeto, colocando o comportamento suave ao clicar em um link  */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: var(--open-sans);
    scroll-behavior: smooth;
}

/* corpo do html */
body {
    background-color: var(--preto-acinzentado);
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo para impedir de selecionar imagens e arrastá-las pela tela */
img {
    user-select: none;
    -webkit-user-drag: none;
}

/* Estilização da barra de navegação do site */
nav#navbar {
    width: 100%;
    color: white;
    justify-content: space-between;
    padding: 15px 15px 15px 15px;
}

/* Estilização para o link com o nome da cliente */
nav#navbar a#titulo-menu {
    color: white;
    font-family: var(--forum);
    font-size: 1.3em;
}

/* Projeto de animação ao passar por cima do nome da cliente */
nav#navbar a.gradiente:hover {
    color: #DD01E3;
    animation: bg 3s infinite;
}

/* animação na logo da cliente para aparecerem as cores do instagram */
@keyframes bg {
    0% {
        color: #DD01E3;
    }

    50% {
        color: #FE0076;
    }

    75% {
        color: #FFC23B;
    }

    100% {
        color: #DD01E3;
    }
}

/* Estilização dos elementos da página que encontram-se no menu */
div#elementos {
    display: flex;
    gap: 20px;
    font-family: var(--open-sans);
    align-items: center;
    font-weight: bold;
}

i#burguer {
    display: block;
    cursor: pointer;
}

/* Estilização dos links da página que encontram-se no menu */
div#elementos a {
    color: white;
    font-size: .9em;
}

/* Estilização dos links da página que encontram-se no menu [ao passar o mouse] */
div#elementos a:hover {text-decoration: underline;}

/* Estilização do botão do menu */
div#elementos button#btn-contato {
    cursor: pointer;
    border-radius: 6px;
    padding: 8px 10px 8px 10px;
    border: none;
    font-family: var(--open-sans);
    font-size: .9em;
    font-weight: bold;
    margin: auto;
    color: black;
    background-color: white;
}

/* Estilização do botão do menu [ao passar o mouse por cima] */
div#elementos button#btn-contato:hover {
    scale: 1.05;
    transition: all 150ms ease-in-out;
}

/* Estilização da sessão com a imagem de thaís de fundo. */ 
section#imagem { 
    position: relative;
    text-align: center;
}

/* Estilização da imagem da sessão de fato */
section#imagem img {
    width: 100%;
    opacity: 0.5;
}

.mobile {
    display: none;
}

/* Definindo position absolute para que os textos fiquem à frente da imagem */
div#textos-imagem {position: absolute;}

/* Estilização da frase motivacional */
div#textos-imagem h1{
    color: var(--dourado);
    font-size: 3em;
    font-weight: 700px;
}

/* Delimitação da caixa que contém o paragráfo que fica abaixo da frase motivacional */
div#caixa-paragrafo {
    width: 390px;
    margin: auto;
    margin-top: 10px;
}

/* Estilização do parágrafo abaixo da frase motivacional de fato */
div#textos-imagem p {
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.600);
    letter-spacing: -0.5px;
    line-height: 1.5;
    font-weight: 500;
}

.container {
    gap: 81px;
    color: white;
    max-width: 1000px;
    width: 100%;
    margin: auto;
    margin: 100px;
}

/* SOBRE MIM */
/* Div que estiliza a imagem e e texto */
div#container-sobremim {
    justify-content: flex-start;
} 

/* Mexendo no h2 */
.texto h2 {
    font-size: 2.2em;
    color: var(--dourado);
    margin-bottom: 10px;
}

/* mexendo nos paragrafos */
.texto {
    display: flex; 
    font-size: 1.2em;
    flex-direction: column;
    width: 400px;
}

/* tamanho da imagem */
.imagem img {
    width: 460px;
    border-radius: 20px;
}

/* estilizando botão ler mais */
.btn-lermais {
    width: 80px;
    height: 40px;
    background-color: #ebebeb;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 23px;
    cursor: pointer;
}


/* hover do botão ler mais */
.btn-lermais:hover {
    transform: scale(1.05);
    transition: all 150ms ease-in-out;
    font-size: 0.72em;
}


/* Ínicio SOBRE PROJETO*/
/* Section que vai está a imagem e o texo */
div#container-sobreprojeto {
    justify-content: space-between;
} 

/* Estilização da seção de depoimentos */
section#depoimentos-secao {
    position: relative;
    margin: 0 auto;
    padding: 100px;
}

/* Estilização dos botôes do carousel */
#depoimentos-secao .carousel-button {
    position: absolute;
    top: calc(50% - 15px);
    
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-color: rgba(200, 200, 200, .5);
    color: rgba(0, 0, 0, .5);
    font-size: 25px;
    border: none;
    border-radius: 50%;
    transition: all 150ms ease-in-out;
}

#depoimentos-secao .carousel-button:hover {
    top: calc(50% - 16px);
    height: 32px;
    width: 32px;
    background-color: rgba(200, 200, 200, .9);
    color: var(--preto);
    font-size: 27px;
}

/* Posicionamento dos botões do carousel */
#depoimentos-secao #anterior {left: 90px;}

#depoimentos-secao #proximo {right: 90px;}

/* Estilização da div onde estarão os depoimentos*/
#depoimentos {
    width: 1000px;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}

/* Estilização dos cards de depoimento */
.depoimento {
    flex-shrink: none;
    flex-grow: none;
    scroll-behavior: smooth;
    padding: 30px;
    min-height: 360px;
    min-width: 320px;
    border-radius: 10px;
}

/* Colorização dos cards de depoimento */
.depoimento:nth-child(3n + 1) {background-color: #F6BF73;}

.depoimento:nth-child(3n + 2) {background-color: #EBD2AC;}

.depoimento:nth-child(3n + 3) {background-color: #FCF4DC;}

/* Perfil da pessoa que depôs */
.perfil-depoimento {
    margin-bottom: 31px;
    display: grid;
    grid-template-rows: 29px 21px;
    grid-template-columns: 50px 215px;
    column-gap: 15px;
}

/* Imagem da pessoa que depôs */
.imagem-depoimento {
    grid-row: 1 / 3;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: gray;
}

/* Nome da pessoa que depôs */
.nome-depoimento {
    color: #001122;
    font-size: 20px;
    font-weight: 600;
}

/* Instagram da pessoa que depôs */
.instagram-depoimento {
    color: #666666;
    font-size: 14px;
    font-weight: 500;
}

/* Texto do depoimento */
.comentario-depoimento {
    color: #666666;
    font-size: 16px;
    font-weight: 500;

    /* Código para que o texto corte na 8a linha e termine com reticências*/
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* estilização do texto que a cliente fez sobre ela mesma */
section#sobre-mim-texto-container {
    padding: 20px;
    background-color: white;
    flex-direction: row;
    text-align: center;
}

/* estilização da sessão que possui o texto do sobre mim */
section.padrao-textos {
    max-width: 770px;
    width: 100%;
}

/* estilização do título do texto sobre mim */
section.padrao-textos h1 {
    margin: 60px 0 30px 0;
    font-size: 2.3rem;
    color: #001122;
}

/* estilização dos paragráfos do texto da sessão sobre mim */
section#sobre-mim-texto p {
    color: #888888;
    font-size: 1.1em;
    line-height: 1.5;
    letter-spacing: -0.5;
    font-weight: 500;
    margin-bottom: 20px;
}

/* estilização do container da imagem do sobre mim*/
div#imagem-container {
    margin: 20px 0 60px 0;
    font-family: var(--open-sans);
}

/* estilização da imagem do sobre mim de fato */
div#imagem-container img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

/*Estilização dos elementos do sobre mim */
div#elementos-perfil {
    margin-left: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/*Estilização do nome da cliente*/
div#elementos-perfil span#nome-thais {
    color: #001122;
    font-size: 20px;
    font-weight: 600;
}

/* estilização do @ do instagram da cliente */
span.margin-bottom-zero{
    color: #666666;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
}

/* Sobre o Projeto Texto */
section#sobre-projeto-texto {
    color: #c4c4c4;
    text-align: center;
    padding: 20px;
    min-height: 470px;
}

/* estilizando titulo */
section#sobre-projeto-texto h2{
    color: white;
    padding: 40px;
    font-size: 2.3rem;
}

/* colocando espaço no paragrafo de cima */
section#sobre-projeto-texto #p2 {margin-top: 22px;}

/* tamanho dos paragrafos */
section#sobre-projeto-texto p {font-size: 1.1em;}

/* tamanho da caixa de todos os textos */
section#sobre-projeto-texto div#paragrafos-sobre-projeto {
    max-width: 720px;
    margin: auto;
}

/*rodape*/
.rodape{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 45px 100px 10px 100px;
}

/*codigo para separar a primeira parte do rodape*/
.separar1{
    display: flex;
    justify-content: space-between;
}

.separar1 span {
    display: block;
    margin-bottom: 10px;
}

/*codigo para ajustar a parte do contato do rodape */
div.contato{
    width: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 17px;
    padding: 10px 0px 10px 0px;
    min-width:12vw;
}

/*codigo para ajustar a parte da localização do rodape */
div.localizacao{
    width: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 0vw;
    font-size: 17px;
    padding: 10px 0px 10px 0px;
    min-width:25vw;
}

/*linha cinza que divide o rodape*/
.linha-cinza{  border-bottom: 1px solid #ccc;}

/*codigo para separar a segunda parte do rodape*/
.separar2{
    display: flex;
    justify-content: space-between;
}

/* codigo para retirar a cor azul do link */
.icones-sociais a { color: inherit; }

/* codigo para separar os icones do intagram e do linkedin */
.icones-sociais a:nth-child(1) {margin-right: 5px;}

/* MODAL */
/* Texto do Modal */
.termos{
    width: 100%;
    margin-right: 50px;
    z-index: 100;
    align-items: center;
    display: flex;
    z-index: 9999999;
}
 
/* CheckBox do Modal */
.checkbox{
    min-width: 20px;
    min-height: 20px;
    margin-left: 90px;
    margin-right: 10px;
    z-index: 9999999;
}
 
/* Conteiner do Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(33, 33, 33, 0.7);
    transition: all 0.4s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: none;
    opacity: 1;
    pointer-events: all;
    z-index: 9999999;
}

/* Titulo do Modal */  
.modal h1{
    padding-left: 10px;
    font-size: 48px;
    color: #fff;
    margin-bottom: 32px;
    line-height: 1.2;
    text-align: center;
    z-index: 9999999;
}

/* Animação do Modal */
.content{ 
    scale: 0.8;
    -webkit-animation: scale-in 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    animation: scale-in 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    z-index: 9999999;
} 
  
@keyframes scale-in {
0% {
    -webkit-transform: scale(0);
            transform: scale(0);
}
100% {
    -webkit-transform: scale(1);
            transform: scale(1);
}
}
  
/* Container do Formulario */
.form {
    width: 100%;
    max-width: 32rem;
    font-size: 1.125rem;
    z-index: 9999999;
}
  
/* Tamanho dos inputs do Formulario */
.form label, .form input, .form textarea, .form button {
    display: block;
    width: 100%;
    z-index: 9999999;
}
 
/* Tamanho dos textos do Formulario */
.form label {
    color: #fff;
    line-height: 1;
    margin-bottom: 0.5rem;
    z-index: 9999999;
}
  
/* Tamanhos dos inputs do Formulario 2.0 */
.form input, .form textarea {
    font: inherit;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 8px;
    box-sizing: unset;
    transition: border-color, box-shadow 0.2s;
    z-index: 9999999;
}

/* Tamanho do textarea */
.form textarea {
    min-height: 13rem;
    resize: vertical;
    z-index: 9999999;
}
 
/* Bordas apos passar o muse por cima dos inputs */
.form  input:hover, .form input:focus, .form textarea:hover, .form textarea:focus {
    outline: none;
    border-color: #F4AC48;
    box-shadow: 0 0 0 3px #FFD599;
    z-index: 9999999;
}

/* Tamanho dos termos */
.termos .checkbox {
    width: 10px;
    z-index: 9999999;
}
  
/* Estilização do botão de enviar */
.form button {
    display: block;
    margin-left: 15px;
    padding: 10px;
    background: #121211;
    color: #fff;
    font: inherit;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
    z-index: 9999999;
}
  
/* Animação do botão apos passar o mouse */
.form button:hover, .form button:focus {
    outline: none;
    background: #FFD599;
    z-index: 9999999;
}

/* Botão de fechar o modal "X" */
.modal__close {
    position: absolute;
    transform: scale(1.5);
    top: 20px;
    left: 500px;
    color: #fff;
    text-decoration: none;
    z-index: 9999999;
}

/*Celular*/
@media screen and (max-width: 620px) {

    :root {
        font-size: 14px;
    }

    #textos-imagem {
        text-align: center;
        max-width: 300px;
    }
    
    div#elementos {
        gap: 10px;
    }

    #caixa-paragrafo {
        max-width: 300px;
    }

    div#elementos a {
        font-size: 1em;
    }

    div#elementos button#btn-contato {
        font-size: .9em;
    }

    div#textos-imagem h1 {
        font-size: 1.4em;
        padding: 0 5px;
    }

    div#textos-imagem p {
        font-size: 1.2em;
        max-width: 300px;
        padding: 0 10px;
    }

    .secao {
        margin: 0 auto;
        max-width: 400px;
    }

    .container {
        margin: 0 auto;
        width: 100%;
        margin: 50px;
        padding: 10px;
        gap: 30px;
    }

    .texto h2 {
        font-size: 1.5rem;
    }

    .texto {
        max-width: 200px;
        font-size: 1rem;
    }

    .imagem img {
        max-width: 180px;
    }

    div#container-sobreprojeto {
        justify-content: flex-start;
    }

    .btn-lermais {
        font-size: .8em;
        width: 65px;
        height: 35px;
    }

    .btn-lermais:hover {
        font-size: .8em;
    }

    section#depoimentos-secao {
        margin-bottom: 30px;
        padding: 20px 10px 20px 10px;
        max-width: 350px;
    }

    #depoimentos-secao button#anterior {
        width: 50px;
        height: 50px;
        left: 0;
    }

    #depoimentos-secao button#proximo {
        width: 50px;
        height: 50px;
        right: 0;
    }

    #depoimentos-secao div#depoimentos {
        max-width: 300px;
        gap: 57.5px;
    }

    .depoimento {
        min-width: 100%;
        max-width: 300px
    }

    div.contato, div.localizacao {
        font-size: .9em;
    }

    .rodape {
        padding: 50px 20px 10px 20px;
    }

    div.separar2 p {
        font-size: .9em;
    }
}

/*Tablet*/
@media screen and (min-width: 621px) and (max-width: 750px) { /*601PX */

    div#textos-imagem h1 {
        font-size: 1.9em;
        padding: 0 10px;
    }

    #caixa-paragrafo {
        max-width: 500px;
        font-size: .9em;
    }
    
    .container img {
        max-width: 210px;
    }

    .container {
        margin: 0 auto;
        padding: 0;
        min-height: 400px;
        max-width: 400px;
        gap: 30px;
    }
    
    .secao {
        margin: 0 auto;
        padding: 0;
        max-width: 500px;
    }

    #depoimentos-secao {
        min-width: 600px;
        max-width: 600px;
        padding: 0;
    }

    #depoimentos {
        width: 500px;
    }

    .depoimento {
        min-width: 250px;
        max-width: 250px;
    }

    .texto h2 {
        font-size: 2.1rem;
        min-width: 200px;
    }

    #container-sobreprojeto {
        justify-content: space-between;
    }

    #container-sobreprojeto .texto {
        min-width: 200px;
    }

    .texto {
        min-width: 190px;
        max-width: 190px;
        font-size: 1rem;
    }

    .texto p {
        max-width: 200px;
    }
}

/*Telas intermediárias*/
@media screen and (min-width: 751px) and (max-width: 1100px) {
     div#textos-imagem h1 {
        font-size: 2.1em;
        padding: 0 10px;
    }

    #caixa-paragrafo {
        max-width: 500px;
        font-size: .9em;
    }
    
    .container img {
        max-width: 310px;
    }

    .container {
        margin: 0 auto;
        padding: 0;
        min-height: 400px;
        min-width: 600px;
        max-width: 600px;
        gap: 50px;
    }
    
    .secao {
        margin: 0 auto;
        padding: 0;
        max-width: 700px;
    }

    section#depoimentos-secao {
        padding: 50px 0;
        min-width: 72px;
        max-width: 720px;
    }

    #depoimentos-secao button#anterior {
        left: 0;
    }

    #depoimentos-secao button#proximo {
        right: 0;
    }

    #depoimentos {
        min-width: 700px;
        max-width: 700px;
        gap: 20px;
    }

    .depoimento {
        min-width: 220px;
        max-width: 220px;
    }

    .texto h2 {
        font-size: 2.3rem;
        min-width: 200px;
    }

    #container-sobreprojeto {
        justify-content: center;
    }

    #container-sobreprojeto .texto {
        min-width: 250px;
    }

    .texto {
        min-width: 190px;
        max-width: 419px;
        font-size: 1rem;
    }

    .texto p {
        font-size: 1.2rem;
        max-width: 250px;
    }

}